.menulist, .menulist ul {
 margin: 0;
 padding: 1px;
 width: 295px;
 list-style: none}
 .menulist{ margin-bottom:15px}

.menulist ul {
 display: none;
 position: absolute;
 top: 0;
 left: 170px}
 
.menulist li ul{
  top:0; 
  left:210px;
  background:#FFF;
  padding:5px 10px 10px;
  border:1px solid #CCC;
  padding-right:35px}

.menulist li {position: relative}

.menulist li a {
 display: block;
 padding: 8px 4px 8px 30px;
 color: #545147;
 letter-spacing:1px;
 background: url(../images/pot_brown.png) 10px 15px no-repeat #efe0d2;
 text-decoration: none;
 margin: 0 0 5px 0}

.menulist li li a{
	padding: 8px 4px;
	background:none;
	color:#252136;
	border-bottom:1px dashed #E4E4E4}
.menulist li li a:hover{
	 color:#987067;
     background:none;
     padding: 8px 4px}	 

* html .menulist li a { border-width: 0; margin: 1px}
.menulist a:hover, .menulist a.highlighted:hover, .menulist a:focus {
 color: #FFF;
 background: #d4a696;
 padding: 8px 4px 8px 30px;
 margin: 0 0 5px 0;
 text-shadow:none}
.menulist a.highlighted, .menulist a.navin{
 /*color: #FFF;
 background-color:#F6B51D;*/
 color:#fff;
 background:#d4a696;
 font-weight:bold;
 /*text-shadow:1px 1px 0 #eefce2;*/
 margin: 0 0 5px 0}
.menulist a .subind {float: right}
*:first-child+html .menulist li { float: left; width: 100%}
* html .menulist li { float: left; height: 1%}
* html .menulist a { height: 1%}