/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2015/02

***********************************************************************************************
		1 通用
		2.基本結構
		  2.1 頁面頂部
		  2.2 網站主選單
		  2.3 完美底部布局
		  2.4 版權列
		  2.5 頁面中間區塊
		  2.6 側邊產品選單
		3.頁面結構
		  3.1 首頁
		  3.2 關於采葳
		  3.3 最新消息+媒體名人
		  3.4 服務項目
		  3.5 醫師團隊
		  3.6 門診資訊
		  3.7 彈跳視窗
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	background:#FFF;
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
	color:#231815}
a:link {text-decoration:underline; color:#CFB397}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#987067}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2. 基本結構 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{ display:block; width:100%; min-width:1280px}

/* 2.1 頁面頂部 */
header{ 
    display:block;
	width:100%;
	min-width:1280px;
	height:156px;
	background: url(../images/bg_header.png) repeat-x}
#box_top{
	display:block;
	width:1240px;
	height:156px;
	margin:0 auto;
	padding:0}
h1 a{ 
    display:block;
	float:left;
	width:375px;
	height:86px;
	background:url(../images/bg_h1.png) no-repeat;
	text-indent:-9999px;
	margin:11px 0 0 15px}
.top_right{
	display:block;
	float:right;
	width:295px;
	text-align:right;
	margin:33px 41px 0 0}
.box_link li{
	display:block;
	float:right;
	font-size:0.938em;
	line-height:28px}
.iconlink-01 a, .iconlink-02 a, .iconlink-03 a, .iconlink-04 a{
	display:block;
	float:left;
	width:30px;
	height:30px;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
	margin: 0 3px}
.iconlink-01 a{ background:url(../images/icon_link.png) no-repeat}
.iconlink-01 a:hover{ background:url(../images/icon_link.png) -30px 0 no-repeat}
.iconlink-02 a{ background:url(../images/icon_link.png) 0 -30px no-repeat}
.iconlink-02 a:hover{ background:url(../images/icon_link.png) -30px -30px no-repeat}
.iconlink-03 a{ background:url(../images/icon_link.png) 0 -60px no-repeat}
.iconlink-03 a:hover{ background:url(../images/icon_link.png) -30px -60px no-repeat}
.iconlink-04 a{ background:url(../images/icon_link.png) 0 -90px no-repeat}	
.iconlink-04 a:hover{ background:url(../images/icon_link.png) -30px -90px no-repeat}
.phone_number{
	clear:both;
	text-align:right;
	font-size:1.375em;
	color:#83725a;
	line-height:40px;
	text-shadow: 1px 1px 0 #fff;
	padding-right:5px}

/* 2.2 網站主選單 */
nav{ display:block}
nav .ntitle{ display:none}
#topnav {
	display:block;
	float:left;
	width: 100%; 
	margin: 9px 0 0 0; 
	padding: 0;
	list-style: none;
	font-size: 1em}
#topnav li {
	position: relative;
	float: left;
	margin: 0; 
	padding: 0}
#topnav li a {
	display:block;
	float: left;
	width:155px;
	height:44px; 
	text-indent: -9999px;
	background:url(../images/bg_nav.png) no-repeat}
#topnav a.nav_01 { background-position: 0 0}
#topnav a:hover.nav_01 { background-position: 0 -49px}
#topnav a.nav_02 { background-position: -155px 0}
#topnav a:hover.nav_02 { background-position: -155px -49px}
#topnav a.nav_03 { background-position: -310px 0}
#topnav a:hover.nav_03, #topnav li:hover a.nav_03{ background-position: -310px -49px}
#topnav a.nav_04 { background-position: -465px 0}
#topnav a:hover.nav_04, #topnav li:hover a.nav_04{ background-position: -465px -49px}
#topnav a.nav_05 { background-position: -620px 0}
#topnav a:hover.nav_05 { background-position: -620px -49px}
#topnav a.nav_06 { background-position: -775px 0}
#topnav a:hover.nav_06 { background-position: -775px -49px}
#topnav a.nav_07 { background-position: -930px 0}
#topnav a:hover.nav_07, #topnav li:hover a.nav_07{ background-position: -930px -49px}
#topnav a.nav_08 { background-position: -1085px 0}
#topnav a:hover.nav_08 { background-position: -1085px -49px}

#topnav li .sub {
	display: none;
	position: absolute;	
	float: left;
	top: 50px; 
	left:0;
	z-index:700;
	background:#fff;
	padding: 20px 0 20px;
	border:1px solid #CCC;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px}
#topnav li .sub.service{ left: -129px; padding: 20px 20px 20px}	
#topnav li .row {clear: both; float: left; width: 100%; margin-bottom: 10px}	
#topnav li .sub ul{
	float: left;
	width: 155px;
	list-style: none;
	margin: 0; 
	padding: 0}
#topnav .sub ul li {
	width: 100%;
	color: #fff;
	text-align:center}
#topnav .sub ul li h3{
	padding:0 0 20px 0;  
	margin: 0;
	background:url(../images/bg_navh2.png) 25px 30px no-repeat;
	font-size: 1em;
	font-weight: normal;
	color:#83725A}
#topnav .sub ul li a {
	display: block;
	float: none; 
	height: auto;
	text-indent: 0; /*--Reset text indent--*/
	background:none;
	padding: 7px 5px 7px 0;
	text-decoration: none;
	color: #252136}
#topnav .sub ul li a:hover {color:#f50}
#topnav .sub .short_item{
	width:155px;
	padding:0;
	margin:0}
#topnav .sub .short_item li a{
	margin:0;
	padding:7px 0}
#topnav .sub .short_item li h3{ background:url(../images/bg_navh2.png) 25px 30px no-repeat} 						
	
/* 2.3 完美底部布局*/
html, body, #wrap {height: 100%}
body > #wrap {height: auto; min-height: 100%}
#main_content{ padding-bottom:189px}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden}
.clearfix {display: inline-block}
* html .clearfix { height: 1%}
.clearfix {display: block}

/* 2.4 版權列 */
footer{ 
    display:block;
    width:100%;
	min-width:1280px;
	height:189px;
    background: url(../images/bg_footer.png) repeat-x;
    margin-top: -189px;
	color:#a9a28d}
footer p, footer li{
	font-size:0.813em;
	line-height:22px}	
#foot-main{
	display:block;
	width:1240px;
	margin:0 auto}
.copyright{ line-height:35px; text-align:center}
#foot-main h4, .clinic_info, .clinic_note{ display:block; float:left; margin-top:30px}
#foot-main h4{
	background: url(../images/bg_fotlogo.png) no-repeat;
	width:296px;
	height:68px;
	text-indent:-9999px;
	margin:30px 86px 0 26px}
#foot-main a, #foot-main a:hover, #foot-main a:visited{ color:#a9a28d; text-decoration:none}	
.clinic_info{ margin-right:50px}
.clinic_info span{ margin-right:20px}

/* 2.5 頁面中間區塊 */
#container{
	display:block;
	position:relative;
	width:100%;
	min-width:1240px}
#page_main{ 
    display:block; 
	width:1240px; 
	background:url(../images/bg_container.png) repeat-y;
	margin:0 auto;
	padding-top:30px;
	min-height:1500px}
#box_left{
	display:block;
	float:left;
	width:295px;
	padding-right:20px}
#box_left h3{
	display:block;
	width:295px;
	height:42px;
	text-indent:-9999px;
	background: url(../images/bg_ptitle.png) no-repeat}
#box_left .ptitle-01{ background-position: 0 0}
#box_left .ptitle-02{ background-position: 0 -42px}
#box_left .ptitle-03{ background-position: 0 -84px}
#box_left .ptitle-04{ background-position: 0 -126px}
#box_left .ptitle-05{ background-position: 0 -168px}
#box_left .ptitle-06{ background-position: 0 -210px}
#mian_content{
	display:block;
	float:right;
	width:895px;
	padding:0 20px}

/* 2.6 側邊選單 */
#btn_quicklink, #btn_quicklink-02{
	display:block;
	position:absolute;
	right:0;
	z-index:99;
	width:78px}
#btn_quicklink{ top:0}
#btn_quicklink-02{ top:30px}		
.btn_link-01 a, 
.btn_link-02 a, 
.btn_link-03 a, 
.btn_link-04 a, 
.btn_link-05 a, 
.btn_link-06 a,
.btn_link-07 a{
	display:block;
	width:78px;
	height:84px;
	background:url(../images/btn_quicklink.png) no-repeat;
	text-indent:-9999px}
.btn_link-01 a{ background-position:0 0}
.btn_link-02 a{ background-position:0 -84px} 
.btn_link-03 a{ background-position:0 -168px}
.btn_link-04 a{ background-position:0 -252px}
.btn_link-05 a{ background-position:0 -336px}
.btn_link-06 a{ background-position:0 -420px}
.btn_link-07 a{ background-position:0 -504px}
#clinic_info{ display:block; margin-top:10px}				  		
	
/* 3.頁面結構
===============================================================================================*/
/*3-1 首頁*/
#banner_slider{
	display:block;
	width:100%;
	min-width:1240px;
	height:450px;
	margin:0 auto}
#box_linefriend{
	display:none;
	width:300px;
	height:400px;
	text-align:center}
#box_linefriend h3{
	font-size:1.25em;
	line-height:35px;
	color:#307A00}
#box_linefriend p{
	font-size:0.938em;
	line-height:25px;
	margin-bottom:15px}
#box_message{
	display: none;
	width:800px;
	padding-bottom:20px}
#box_message h3{
	font-size:1.25em;
	line-height:35px;
	text-align:center;
	padding-bottom:10px;
	border-bottom:1px solid #333;
	color:#987067}
#box_message h3 span{
	font-size:0.75em;
	color:#CFB397;
	font-weight:normal}
.box_message{
	width:750px;
	margin:15px auto 0 auto}
.box_message tr{ border-bottom:1px dashed #D7D7D7}	
.box_message td{
	padding:10px;
	font-size:0.938em;
	vertical-align:middle}
.box_message .ttd{
	width:16%; 
    text-align:right;
	vertical-align:middle}
.box_message .pot_star{ color:#f50; font-weight:bold}
.box_message img{ vertical-align: middle; margin-right:15px}
.text_area{
	display: inline-block;
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:0.938em;
	letter-spacing:1px;
	border:1px solid #999;
	padding:8px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px}
#box_message textarea{
	width:350px;
    font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:.938em}	
.w78{ width:78px}
.w100{ width:100px}
.w350{ width:350px}
.box_buttom{
	display:block;
	width:400px;
	margin:0 auto;
	padding:15px 0;
	text-align:center}
.btn_empty{
	display:inline-block;
	padding:5px 20px;
	margin:0 10px;
	background:#CFB397;
	border:none;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	font-size:0.938em;
	line-height:30px;
	letter-spacing:1px;
	color:#FFF;
	cursor:pointer}
.btn_empty:hover{ background:#987067}

#hot_service, #hot_maincon, #hot_inbeauty{
	display:block;
	width:1240px;
	margin:0 auto}
#hot_service{ height:42px; margin:30px auto 45px auto}
#hot_service h3{
	display:block;
	float:left;
	background:url(../images/title_hot-service.png) no-repeat;
	width:190px;
	height:42px;
	text-indent:-9999px}
#hot_service li a, #hot_service li a:visited{
	display: block;
	float:left;
	width:170px;
	height:37px;
	padding:5px 10px 0;
	overflow:hidden;
	background: -webkit-gradient(linear, left top, right top, from(#a68b8c), to(#997a7b));
	background: -webkit-linear-gradient(top, #a68b8c, #997a7b);
	background: -moz-linear-gradient(top, #a68b8c, #997a7b);
	background: -o-linear-gradient(top, #a68b8c, #997a7b);
	background: -ms-linear-gradient(top, #a68b8c, #997a7b);
	background: linear-gradient(top, #a68b8c, #997a7b);
	background-color: #a68b8c;
	margin-left:20px;
	font-size:0.875em;
	line-height:30px;
	color: #FFF;
	text-decoration:none}
#hot_service li a:hover{ 
    color:#C8003F; 
	text-decoration:none;
	text-shadow: 1px 1px 0 #ccc;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#a68b8c));
	background: -webkit-linear-gradient(top, #fff, #a68b8c);
	background: -moz-linear-gradient(top, #fff, #a68b8c);
	background: -o-linear-gradient(top, #fff, #a68b8c);
	background: -ms-linear-gradient(top, #fff, #a68b8c);
	background: linear-gradient(top, #fff, #a68b8c);
	background-color: #a68b8c;}		
#hot_maincon{ margin-bottom:25px}
#box_ad, #box_media, #box_lastnews{ display:block; float:left}
#box_ad{ width:530px}
#box_ad li{
	display:block;
	float:left;
	width:245px;
	height:165px;
	margin:0 20px 20px 0}
#box_ad li img{ border:1px solid #CCC}	
#box_media{ width:400px; margin-right:20px}
#box_media h3{
	display:block;
	height:43px;
	background:url(../images/title_index.png) no-repeat;
	text-indent:-9999px}
.info_imedia{ margin:20px 0 0 19px}
#box_media p, #clinic_info p{ line-height:30px; color:#83725a}
#box_media p{ font-size:1.063em; margin:5px 0 0 19px}
#clinic_info p{ font-size:1em; margin:5px 0 0 0}
#box_media .micon-01, 
#box_media .micon-02, 
#clinic_info .micon-01, 
#clinic_info .micon-02{	background: url(../images/icon_link.png) no-repeat; padding-left:38px}
#box_media .micon-01, #clinic_info .micon-01{ background-position: 0 -120px}
#box_media .micon-02, #clinic_info .micon-02{ background-position: 0 -150px}	
#box_lastnews{ width:290px}
#box_lastnews h3{
	display:block;
	height:43px;
	background:url(../images/title_index.png) 0 -43px no-repeat;
	text-indent:-9999px}
#box_lastnews li a{
	display:block;
	width:240px;
	background:url(../images/pot_brown.png) 25px 22px no-repeat; 
	font-size:0.938em;
	line-height:50px;
	color:#545147;
	border-bottom:1px dashed #d0c3c4;
	padding-left:50px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
	text-decoration:none}
#box_lastnews li a:visited {text-decoration:none; color:#8c8c8c}
#box_lastnews li a:hover {text-decoration:none; color:#987067}	
#hot_inbeauty{ display:block; position:relative}
#hot_inbeauty h3 {
	display:block;
	width:1240px;
	height:40px;
	background:url(../images/title_index.png) 0 -89px #e7e6e6 no-repeat;
	text-indent:-9999px}
#hot_inbeauty>.box_link{
	display:block;
	position:absolute;
	top:4px;
	right:8px;
	z-index:1}
#box_showcase{ display:block; padding:30px 0 0 23px}	
#box_showcase li{
	display:block;
	float:left;
	width:550px;
	height:152px;
	margin:0 58px 40px 0}
.case_img{ display:block; float:left; position:relative; width:258px}	
.case_img img{ width:258px; height:150px}
.case_img span{ 
    display:block;
	position:absolute;
	top:18px;
	right:0;
	width:20px;
	height:24px;
	background:url(../images/bg_case-arrow.png) no-repeat}
.case_text{ display:block; float:right; width:292px}	
.case_text h4{
	display:block;
	vertical-align: middle;
	width:262px;
	height:45px;
	padding:10px 15px;
	background:#fef4e0;
	color:#83725a;
	overflow:hidden}
.case_text h4:before{
	content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%}
.case_text span{
	display: inline-block;
    font-size:1em;
	line-height:25px;
	vertical-align: middle}		
.case_text p{
	display:block;
	width:262px;
	height:45px;
	padding:10px 15px;
	font-size:0.875em;
	line-height:25px;
	color:#231815;
	overflow:hidden}
.case_text h4:hover{ color:#987067}
.case_text p:hover{ color:#987067}		
 				
#list_service{
	display:block;
	width:100%;
	min-width:1240px;
	min-height:250px;
	background:#f8f8f8}
#list_service .list_main{ 
    display:block; 
	width:1160px; 
	margin:0 auto;
	padding:20px 40px 35px}
#list_service .list_main li{ 
    border-bottom:1px dashed #ccbfc0; 
	margin-bottom:15px; 
	padding-bottom:15px}
#list_service .list_main li h4{
	display:block;
	float:left;
	width:100px; 
	font-size:1em;
	line-height:30px; 
	color:#83725a;
	text-align:center;
	border-right:2px solid #83725a}
#list_service .list_main li ul{
	display:block;
	float:left;
	width:970px;
	padding-left:30px}
#list_service .list_main li li{
	display:inline;
	font-size:0.938em;
	line-height:25px;
	padding-right:10px;
	border-bottom: none;
	text-decoration:none}
#list_service .list_main li li a:link {text-decoration:none; color:#545147}
#list_service .list_main li li a:visited {text-decoration:none; color:#8c8c8c}
#list_service .list_main li li a:hover {text-decoration:none; color:#987067}
		
						

